/*custom css*/

.navbar {
  background-color: black;
  background: transparent;
  border-color: transparent;
}

.navbar-text {
  color: #FCA04B;
}

#btn {
  background-color: #F47E3E;
  color: #FFFFFF;
  position: absolute;
  top: 20px;
  right: 80px;
}

.page-header {
  color: #F47E3E;
  border-color: transparent;
  position: absolute;
  top: 100px;
}

.jumbotron {
  background-image: url("../img/image6.jpg");
  height: 800px;
  margin-bottom: 0px;
}

#gamer {
  position: relative;
  top: 100px;
  left: 195px;
  font-size: 130px;
  font-weight: bold;
}

#content {
  background-color: #232124;
  margin-top: 5px;
  border-bottom-color: #FFFFFF;
  height: 600px;
}

#h1 {
  margin-top: 100px;
  color: #F47E3E;
}

#p {
  margin-top: 60px;
  color: #FFFFFF;
  font-size: 20px;
}

#img {
  position: relative;
  top: -230px;
  left: 650px;

}

#marginb {
  height: 605px;
}

#back2 {

  background-image: url("../img/tabs-bg.jpg");
  height: 1000px;
  margin-top: 0px;
}

#center {
  margin-top: 0px;
  padding-top: 120px;
}

.color {
  color: #FCA04B;
}

.colorh3 {
  color: #FFFFFF;
  display: inline;
  margin-left: 200px;

}

#borderb {
  position: relative;
  top: 50px;
  left: 90px;
  border-color: #FFFFFF !important;
  display: inline;
  border: solid, #FFFFFF;
  padding-left: 100px;
}

#row {
  position: absolute;
  top: 1900px;
  left: 440px;
}

#cross-effect {
  position: relative;
  top: 70px;
  left: 370px;
  height: 5px;
  width: 730px;
  background-color: #FFFFFF;
}

#first {
  position: relative;
  top: -160px;
  left: -200px;
  background-color: #FFFFFF;
  height: 488px;
  width: 350px;
  padding-left: 10px;
}

#second {
  width: 100px;
  position: relative;
  background-color: #FFFFFF;
  top: -648px;
  left: 135px;
  height: 488px;
  width: 350px;
  padding-left: 5px;
}

#third {
  height: 488px;
  width: 330px;
  position: relative;
  top: -1136px;
  left: 469px;
  background-color: #FFFFFF;
  padding-left: 0px;
}

#button1 {
  background-color: #232124;
  position: absolute;
  top: 2104px;
  left: 265px;
  height: 120px;
  width: 320px;
}

.pcolor {
  margin-top: 10px;
  font-size: 20px;
  color: #BEBEBE;
}

#btn2 {
  position: relative;
  left: 75px;
  background-color: #F47E3E;
  color: #FFFFFF;
  width: 170px;
  margin-top: 15px;
}

#button2 {
  background-color: #232124;
  position: absolute;
  top: 2104px;
  left: 596px;
  height: 120px;
  width: 320px;
}

#pcolor2 {
  margin-top: 10px;
  font-size: 20px;
  color: #BEBEBE;
}

#button3 {
  background-color: #232124;
  position: absolute;
  top: 2104px;
  left: 925px;
  height: 120px;
  width: 320px; 
}

#col8height {
  height: 400px;
}

#platform {
  margin-top: 5px;
}

#back1 {
  margin: 0px;
}

#back22 {
  margin-left: 0px;
}

#back3 {
  margin: 0px;
}

#back4 {
  margin: 0px;
}

#back5 {
  margin: 0px;
}

#margins {
  color: grey;
  position: relative;
  top: 45px;
  left: -400px;
}

#form1 {
  position: absolute;
  top: 2750px;
  left: 690px;
}

#email {
  font-size: 18px;
  height: 50px;
  width: 450px;
  color: #FFFFFF;
  background-color: #010101;
  border-color: transparent;
}

#submit {
  margin-left: 3px;
  height: 50px;
  width: 170px;
  color: #FFFFFF;
  background-color: #F47E3E;
}

#footer {
  background-image: url("../img/image3.jpg");
  height: 200px;
  margin-top: 10px;
}

#info {
  position: absolute;
  top: 2985px;
  left: 150px;
  color: #BEBEBE;
}

#span {
  color: #F47E3E ;
}

.social-icons {
  position: absolute;
  top: 2960px;
  left: 1100px;
  color: #FFFFFF;
}

a {
  margin-left: 9px;
  font-size: 40px;
  color: #FFFFFF;
}

#cross-effect2 {
  position: absolute;
  top: 3015px;
  left: 145px;
  height: 5px;
  width: 1200px;
  background-color: #FFFFFF;
}

#hiddenSubscribe {
  position: absolute;
  top: 2700px;
  left: 0px;
  display: none;
  margin: 0;
  font-size: 25px;
  background-color: #F47E3E;
  width: 1520px;
  height: 190px;
  padding-top: 30px;
}

#subscribe {
  height: 150px;
}

#footerc {
  margin-top: 40px;
  margin-left: -90px;
  margin-bottom: 0px;
}

#email102 {
  color: #FFFFFF;
}

#closebtn {
  position: absolute;
  top: 30px;
  left: 1450px;
  color: #232124;
  cursor: pointer;
}

#unique {
  display: none;
  position: absolute;
  top: 70px;
  left: 1180px;
  background-color: #FFFFFF;
  height: 140px;
  width: 180px;
  border-radius: 5px;
}

#unique2 {
  display: none;
  position: absolute;
  top: 70px;
  left: 1270px;
  background-color: #FFFFFF;
  height: 170px;
  width: 180px;
  border-radius: 5px;
}

.name {
  margin-top: 15px;
  margin-left: 13px;
  display: block;
  background-color: #010101;
  color: #FFFFFF; 
}

.submit2 {
  margin-top: 7px;
  margin-left: 50px;
  background-color: #F47E3E;
}

#login {
  cursor: pointer;
}

#jumbotron2 {
  height: 810px;
  background-image: url("../img/mh2.png");
}

#heading {
  position: absolute;
  top: 100px;
  left: 580px;
}

#crosseffect2 {
  position: absolute;
  top: 170px;
  left: 380px;
  height: 5px;
  width: 730px;
  background-color: #FFFFFF
}

#row2 {
  position: absolute;
  top: 370px;
  left: 420px;
  margin-bottom: 0px;
}

#button12 {
  background-color: #232124;
  position: absolute;
  top: 573px;
  left: 245px;
  height: 120px;
  width: 320px;
}

#button22 {
  background-color: #232124;
  position: absolute;
  top: 573px;
  left: 576px;
  height: 120px;
  width: 320px;
}

#button32 {
  background-color: #232124;
  position: absolute;
  top: 573px;
  left: 905px;
  height: 120px;
  width: 320px; 
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    /*background-color: rgb(0,0,0);8*/ background-color: #F15A29; /* Black fallback color */
    background-color: #010101; /* Black w/opacity */
    opacity: 0.95;/*opacity*/
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}


/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}


/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}


/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


#orderform {
  background-color: #FFFFFF;
  position: absolute;
  top: -40px;
  left: 550px;
  height: 500px;
  width: 400px;
  opacity: 100%;
}

#closeoverlay {
  color: #FFFFFF;
  margin-top: 30px;
  cursor: pointer;
}

.field {
  display: block;
  height: 70px;
  width: 300px;
  margin-left: 50px;
}

#formofform {
  margin-top: 90px;
} 

#order {
  margin-top: 50px;
}

#formbtn {
  margin-top: 30px;
  height: 60px;  
  width: 200px;
  background-color: #F47E3E;
  color: #FFFFFF;
  font-size: 20px;
}

#replace {
  display: none;
  font-size: 35px;
  background-color: #FFFFFF;
  position: absolute;
  top: -40px;
  left: 550px;
  height: 500px;
  width: 400px;
  opacity: 100%;
  padding: 40px;
}

#input1, #input2 {
  color: #F47E3E;
}

#change {
  margin-top: 30px;
  height: 60px;  
  width: 200px;
  background-color: #F47E3E;
  color: #FFFFFF;
  font-size: 20px; 
}

#jumbotron3 {
  height: 810px;
  background-image: url("../img/parse1.jpg");
}

#jumbotron4 {
  height: 810px;
  background-image: url("../img/woke1.jpg");
}
}

.container1:hover .overlay1 {
  width: 100%;
}

.overlay1 {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 378px;
  right: ;
  background-color: #FFFFFF;
  opacity: 0.70;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}